*{
	margin:0;
	padding:0;
}
.box{
	position:relative;
	margin:0 auto;
	width:1000px;
	height:300px;
	/*border:1px solid black;*/
	overflow: hidden;
}
.box .wrap{
	position: absolute;
	top:50%;
	margin-top:-75px;
	width:400px;
	height: 200px;
	float:left;
	opacity: 0.3;
		
}
/*图片随div移动的关键*/
.box .wrap img{
	width:100%;
	height: 100%;
}
.box .btn{
	position: absolute;
	top:50%;
	margin-top: -9px;
	width: 50px;
	height: 50px;
	z-index: 1000;
	opacity: 0.2;
}
.box .btnL{
	left:18px; 
}		
.box .btnR{
	right: 18px;
}
.box .btn:hover{
	opacity: 1;
}